requests==2.18.4
responses==0.10.2
protobuf==3.6.1
markdown2==2.3.6
pandas==0.23.4
schedule==0.5.0
PyYAML==3.13
tensorflow==1.11.0
scikit-learn==0.20.0
google-cloud==0.34.0
google-cloud-storage==1.13.0 
pytest==3.8.2
pytest-freezegun==0.2.0
